.arcimboldo{--main-color: #4C7034;--sub-color:  #996600;--font-color: white;--font-sub-color:  white;}
.bacon{--main-color: #66669C;--sub-color:  #E7662B;--font-color: white;--font-sub-color:  black;}
.balla{--main-color: ;--sub-color:  ;--font-color: ;--font-sub-color:  ;}
.banksy{--main-color: #000000;--sub-color:  #FF4863;--font-color: white;--font-sub-color:  black;}
.beardsley{--main-color: #000000;--sub-color:  #FFCD0D;--font-color: white;--font-sub-color:  black;}
.becklin{--main-color: #725881;--sub-color:  #FFCD0D;--font-color: white;--font-sub-color:  black;}
.beksinski{--main-color: #000000;--sub-color:  #66FFFF;--font-color: white;--font-sub-color:  black;}
.blake{--main-color: #C23D43;--sub-color:  #9C9C8D;--font-color: white;--font-sub-color:  black;}
.boccioni{--main-color: #8B811F;--sub-color:  #3366CC;--font-color: white;--font-sub-color:  white;}
.bosch{--main-color: #FF7BBE;--sub-color:  #0062C0;--font-color: black;--font-sub-color:  white;}
.botticelli{--main-color: #008b8b;--sub-color:  #FF761B;--font-color: white;--font-sub-color:  white;}
.boucher{--main-color: #f19ca7;--sub-color:  #68a4d9;--font-color: black;--font-sub-color:  black;}
.bouguereau{--main-color: #043c78;--sub-color:  #f6e5cc;--font-color: white;--font-sub-color:  black;}
.brancusi{--main-color: #DFD842;--sub-color:  #FF9933;--font-color: black;--font-sub-color:  black;}
.braque{--main-color: #666600;--sub-color:  #9A9A63;--font-color: white;--font-sub-color:  white;}
.bruegel{--main-color: #C76EFD;--sub-color:  #0066D0;--font-color: white;--font-sub-color:  white;}
.cabanel{--main-color: #009AFF;--sub-color:  #FF9EC3;--font-color: white;--font-sub-color:  black;}
.canaletto{--main-color: #5a4498;--sub-color:  #d70035;--font-color: white;--font-sub-color:  white;}
.caravaggio{--main-color: #3B1F08;--sub-color:  #FF2F2F;--font-color: white;--font-sub-color:  white;}
.carracci{--main-color: ;--sub-color:  ;--font-color: ;--font-sub-color:  ;}
.cezanne{--main-color: ;--sub-color:  ;--font-color: ;--font-sub-color:  ;}
.corot{--main-color: #898880;--sub-color:  #478384;--font-color: white;--font-sub-color:  white;}
.courbet{--main-color: #742F2F;--sub-color:  #2F2F2F;--font-color: white;--font-sub-color:  white;}
.dali{--main-color: #0000FF;--sub-color:  #333333;--font-color: white;--font-sub-color:  white;}
.david{--main-color: #1D3260;--sub-color:  #FF0000;--font-color: white;--font-sub-color:  white;}
.dechirico{--main-color: #fcc800;--sub-color:  #ee7800;--font-color: black;--font-sub-color:  black;}
.degas{--main-color: #68a9cf;--sub-color:  #b7ffff;--font-color: black;--font-sub-color:  black;}
.delacroix{--main-color: #EE0068;--sub-color:  #742F2F;--font-color: white;--font-sub-color:  white;}
.delaroche{--main-color: #ffbf7f;--sub-color:  #ea553a;--font-color: black;--font-sub-color:  black;}
.denis{--main-color: ;--sub-color:  ;--font-color: ;--font-sub-color:  ;}
.duchamp{--main-color: #6633CC;--sub-color:  #000033;--font-color: white;--font-sub-color:  white;}
.durer{--main-color: #006600;--sub-color:  #E76600;--font-color: white;--font-sub-color:  black;}
.elgreco{--main-color: #e5a323;--sub-color:  #4e454a;--font-color: white;--font-sub-color:  white;}
.ensor{--main-color: #C1272D;--sub-color:  #591B5B;--font-color: white;--font-sub-color:  white;}
.ernst{--main-color: #FF2F9D;--sub-color:  #ffd700;--font-color: white;--font-sub-color:  black;}
.escher{--main-color: #000000;--sub-color:  #666666;--font-color: white;--font-sub-color:  white;}
.fraangelico{--main-color: ;--sub-color:  ;--font-color: ;--font-sub-color:  ;}
.fragonard{--main-color: #FF66FF;--sub-color:  #CC0066;--font-color: white;--font-sub-color:  white;}
.friedrich{--main-color: #003143;--sub-color:  #58352D;--font-color: white;--font-sub-color:  white;}
.gauguin{--main-color: #ea5550;--sub-color:  #00947a;--font-color: white;--font-sub-color:  black;}
.gerard{--main-color: #1D3260;--sub-color:  #ffb6c1;--font-color: white;--font-sub-color:  white;}
.gericault{--main-color: #6f5436;--sub-color:  #ba8b40;--font-color: white;--font-sub-color:  black;}
.giacometti{--main-color: #8EB5D1;--sub-color:  #7F6666;--font-color: black;--font-sub-color:  white;}
.giorgione{--main-color: ;--sub-color:  ;--font-color: ;--font-sub-color:  ;}
.giotto{--main-color: #E6C223;--sub-color:  #765840;--font-color: black;--font-sub-color:  white;}
.girodet{--main-color: #1D3260;--sub-color:  #d3d3d3;--font-color: white;--font-sub-color:  black;}
.gogh{--main-color: #999900;--sub-color:  #3366CC;--font-color: white;--font-sub-color:  white;}
.goya{--main-color: #5C372C;--sub-color:  #FFE925;--font-color: white;--font-sub-color:  black;}
.grimshaw{--main-color: #2f4f4f;--sub-color:  #7a4171;--font-color: white;--font-sub-color:  white;}
.gros{--main-color: #1D3260;--sub-color:  #B4FFFF;--font-color: white;--font-sub-color:  black;}
.hamilton{--main-color: #6c272d;--sub-color:  #fff352;--font-color: white;--font-sub-color:  black;}
.hammershoi{--main-color: #a7a7a7;--sub-color:  #4f4f4f;--font-color: black;--font-sub-color:  white;}
.haring{--main-color: #FF161F;--sub-color:  #00AEFF;--font-color: white;--font-sub-color:  white;}
.hogarth{--main-color: #EF5A4B;--sub-color:  #634D52;--font-color: white;--font-sub-color:  white;}
.hopper{--main-color: ;--sub-color:  ;--font-color: ;--font-sub-color:  ;}
.hunt{--main-color: #ed6d35;--sub-color:  #618e34;--font-color: black;--font-sub-color:  white;}
.ingres{--main-color: #1D3260;--sub-color:  #4169e1;--font-color: white;--font-sub-color:  white;}
.kandinsky{--main-color: #2D84FD;--sub-color:  #00CDFF;--font-color: white;--font-sub-color:  black;}
.khnopff{--main-color: #B40068;--sub-color:  #DC7EFF;--font-color: white;--font-sub-color:  black;}
.klimt{--main-color: #BAA04F;--sub-color:  #C67DFF;--font-color: black;--font-sub-color:  black;}
.kramskoi{--main-color: ;--sub-color:  ;--font-color: ;--font-sub-color:  ;}
.latour{--main-color: #594000;--sub-color:  #8E3D3D;--font-color: white;--font-sub-color:  white;}
.leonardo{--main-color: #0066FF;--sub-color:  #990000;--font-color: white;--font-sub-color:  white;}
.lichtenstein{--main-color: #EE0000;--sub-color:  #FFEF00;--font-color: white;--font-sub-color:  black;}
.lukas{--main-color: ;--sub-color:  ;--font-color: ;--font-sub-color:  ;}
.magritte{--main-color: #0D0D52;--sub-color:  #449A22;--font-color: white;--font-sub-color:  white;}
.malevich{--main-color: #000000;--sub-color:  #C1272D;--font-color: white;--font-sub-color:  white;}
.manet{--main-color: #006600;--sub-color:  #B40000;--font-color: white;--font-sub-color:  white;}
.marc{--main-color: ;--sub-color:  ;--font-color: ;--font-sub-color:  ;}
.matisse{--main-color: #009A00;--sub-color:  #EE0000;--font-color: white;--font-sub-color:  white;}
.michelangelo{--main-color: #CC6600;--sub-color:  #50A8FF;--font-color: white;--font-sub-color:  white;}
.millais{--main-color: #98191F;--sub-color:  #618e34;--font-color: white;--font-sub-color:  white;}
.millet{--main-color: #765840;--sub-color:  #D6A551;--font-color: white;--font-sub-color:  black;}
.miro{--main-color: ;--sub-color:  ;--font-color: ;--font-sub-color:  ;}
.mondrian{--main-color: #3333FF;--sub-color:  #FFFF00;--font-color: white;--font-sub-color:  black;}
.monet{--main-color: #33FF99;--sub-color:  #8EB5D1;--font-color: black;--font-sub-color:  black;}
.moreau{--main-color: #004E32;--sub-color:  #7BB6D3;--font-color: white;--font-sub-color:  white;}
.mucha{--main-color: #FFCD0D;--sub-color:  #1B4492;--font-color: black;--font-sub-color:  white;}
.munch{--main-color: #002F68;--sub-color:  #32cd32;--font-color: white;--font-sub-color:  white;}
.picasso{--main-color: #ff69b4;--sub-color:  #4169e1;--font-color: black;--font-sub-color:  white;}
.raffaello{--main-color: #ffff89;--sub-color:  #ff7f7f;--font-color: black;--font-sub-color:  black;}
.redon{--main-color: #2F2F2F;--sub-color:  #002FD1;--font-color: white;--font-sub-color:  white;}
.rembrandt{--main-color: #543A30;--sub-color:  #C6801D;--font-color: white;--font-sub-color:  white;}
.renoir{--main-color: #FF6666;--sub-color:  #3E4875;--font-color: white;--font-sub-color:  white;}
.repin{--main-color: #00CDFF;--sub-color:  #FFFC87;--font-color: black;--font-sub-color:  black;}
.rossetti{--main-color: #ff1493;--sub-color:  #618e34;--font-color: white;--font-sub-color:  white;}
.rousseau{--main-color: #006600;--sub-color:  #2F2F2F;--font-color: white;--font-sub-color:  white;}
.rubens{--main-color: #996600;--sub-color:  #e6b422;--font-color: white;--font-sub-color:  black;}
.saintphalle{--main-color: ;--sub-color:  ;--font-color: ;--font-sub-color:  ;}
.sargent{--main-color: ;--sub-color:  ;--font-color: black;--font-sub-color:  black;}
.schiele{--main-color: #494437;--sub-color:  #B36856;--font-color: white;--font-sub-color:  white;}
.segantini{--main-color: ;--sub-color:  ;--font-color: ;--font-sub-color:  ;}
.serusier{--main-color: #00446F;--sub-color:  #FFCE34;--font-color: white;--font-sub-color:  black;}
.seurat{--main-color: #666699;--sub-color:  #599173;--font-color: white;--font-sub-color:  white;}
.turner{--main-color: #f3981d;--sub-color:  #00a1e9;--font-color: black;--font-sub-color:  black;}
.vaneyck{--main-color: #006600;--sub-color:  #002FD1;--font-color: white;--font-sub-color:  white;}
.varo{--main-color: #990000;--sub-color:  #000000;--font-color: white;--font-sub-color:  white;}
.velazquez{--main-color: #B22F2F;--sub-color:  #FF669C;--font-color: white;--font-sub-color:  white;}
.vermeer{--main-color: #FFFF57;--sub-color:  #0000FF;--font-color: black;--font-sub-color:  white;}
.vlaminck{--main-color: #EE0000;--sub-color:  #00FFAC;--font-color: white;--font-sub-color:  black;}
.warhol{--main-color: #00662B;--sub-color:  #666666;--font-color: white;--font-sub-color:  white;}
.wyeth{--main-color: ;--sub-color:  ;--font-color: ;--font-sub-color:  ;}
