/*フッター*/
.footer{
  width: auto;
  margin: 0;
padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: black;

  font-size: 0.8em;
  text-align: center;
  color: white;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@media (min-width: 1921px) {
  .footer{
    padding: 20px;
    font-size: 0.8em;
    height: 240px;
  }
}

.footer .twitter{
  width: 120px;
  height: auto;
  margin: 0;
  display: block;
}

@media (min-width: 1280px){
  .footer .twitter{
    width: 80px;
  }
}


.footer p{
  width: auto;
  margin: 16px auto;
  font-size: 1.8em;
  line-height: 1.5;
}

@media (min-width: 1280px){
  .footer p{
    font-size: 1em;
  }
}


.footer-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}
