
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/*言語*/
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* 日本語用 */
html[lang="ja"] {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

/* 英語用 */
html[lang="en"] {
  font-family: "Poppins", sans-serif;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

body{
  margin: 0;
  padding: 0;
  min-height: 100%;

  background:
    linear-gradient(
      -190deg,
      var(--main-color) 0%,
      var(--main-color) 33%,
      var(--sub-color) 33%,
      var(--sub-color) 66%,
      var(--main-color) 66%,
      var(--main-color) 100%
    );
  background-attachment: fixed;
  background-color: var(--main-color);

}


@media (min-width: 1280px) {
body{
background:
linear-gradient(
  -10deg,
  var(--main-color) 0%,
  var(--main-color) 50%,
  var(--sub-color) 50%,
  var(--sub-color) 100%
  );
  background-attachment: fixed;
  background-color: var(--main-color);
}
}

/*共通の白枠*/
.window{
width: 80%;
height: auto;
margin: 5% auto;
padding: 32px;

background-color:white;
border-radius: 16px;
}

@media (min-width: 1280px) {
.window{
  width: 60%;
}
}

/*横線*/
.line{
width: 90%;
height: 4px; /* 線幅 */
margin: 3% 10%;
display: block;

background-color: var(--sub-color); /* 線色 */
border-radius: 1.5px; /* 線幅の半分 */
}

@media (min-width: 1280px) {
.line{
  width: 70%;
  height: 6px; /* 線幅 */
  border-radius: 8px; /* 線幅の半分 */
}
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* h1 */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

h1{
  margin: 3% auto;
  padding: 5px 64px;

  display: inline-block;

  font-size: 3.5em;

  background: var(--main-color);
  color: var(--font-color);
}

/* レスポンシブ */

@media (min-width: 1280px){
  h1{
    font-size: 2em;
  }
}

@media (min-width: 1921px){
  h1{
    font-size: 3em;
  }
}

/* 言語別フォント */

html[lang="ja"] h1{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;
  font-style: normal;
}

html[lang="en"] h1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* h2 共通 */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

h2{
  color: var(--font-color);
  background: var(--main-color);
}

/* 言語別フォント */
html[lang="ja"] h2{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;
}

html[lang="en"] h2{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

/* 作品名 */
.works_area h2{
  display: inline-block;
  padding: 0 5%;
  font-size: 2.5em;
}

@media (min-width: 1280px) {
  .works_area h2{
    font-size: 2em;
  }
}

@media (min-width: 1921px) {
  .works_area h2{
    font-size: 3em;
  }
}


/* 作家名 */
.artist_area h2{
  display: inline-block;
  padding: 0 5%;
  font-size: 2.5em;
}

@media (min-width: 1280px) {
  .artist_area h2{
    font-size: 2em;
  }
}

@media (min-width: 1921px) {
  .artist_area h2{
    font-size: 3em;
  }
}


/* 関係作家 */
.relate_area h2{
  display: inline-block;
  margin: 0 auto 24px;
  padding: 5px 24px;
  text-align: center;
}

@media (min-width: 1280px) {
  .relate_area h2{
    font-size: 2em;
  }
}

@media (min-width: 1921px) {
  .relate_area h2{
    font-size: 3em;
  }
}

/* 参考文献 */
.references_area h2{
  display: inline-block;
  padding: 0 5%;
  font-size: 2.5em;
}

@media (min-width: 1280px) {
.references_area h2{
    font-size: 2em;
  }
}

@media (min-width: 1921px) {
.references_area h2{
    font-size: 3em;
  }
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* h3 */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

/* 日本語 */
html[lang="ja"] h3{
  margin: auto;

  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;

  text-align: center;
}

/* 英語 */
html[lang="en"] h3{
  margin: auto;

  font-family: "Poppins", sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 600;

  text-align: center;
}

/* レスポンシブ */

@media (min-width: 1280px){
  html[lang="ja"] h3,
  html[lang="en"] h3{
    font-size: 1.2em;
  }
}

@media (min-width: 1921px){
  html[lang="ja"] h3,
  html[lang="en"] h3{
    font-size: 1.5em;
  }
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* h4 */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

h4{
  width: 30%;
  display: inline-block;
  margin: 3% auto;
  padding: 8px 24px;

  color: var(--font-color);
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;

  background: var(--main-color);
}

/* 日本語だけ上書き */
html[lang="ja"] h4{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
}

@media (min-width: 1280px) {
  h4{
width: 20%;
    margin: 1% auto;
    padding: 6px 20px;
    font-size: 1em;
  }
}

@media (min-width: 1921px) {
  h4{
    font-size: 1.5em;
  }
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* p */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

/* 日本語 */
html[lang="ja"] main p{
  width: 90%;
  margin: 16px auto;

  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 2.3em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
}

/* 英語 */
html[lang="en"] main p{
  width: 90%;
  margin: 16px auto;

  font-family: "Poppins", sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
}

/* レスポンシブ */

@media (min-width: 1280px){
  html[lang="ja"] main p,
  html[lang="en"] main p{
    width: 70%;
    font-size: 1.2em;
  }

  html[lang="ja"] main p{
    line-height: 2;
  }
}

@media (min-width: 1921px){
  html[lang="ja"] main p,
  html[lang="en"] main p{
    width: 70%;
    font-size: 1.5em;
  }

  html[lang="ja"] main p{
    line-height: 2;
  }
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/*その他*/
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/*左寄せ*/
.left{
text-align: left;
text-align: justify;
overflow-wrap: break-word;
word-break: normal;
hyphens: auto;
}

/*作品データ見だし*/
.midashi{
  width: 40%;
  padding: 0% 5%;
  margin: 20px auto;
  color: var(--font-color);
  background: var(--main-color);
  display: inline-block;
}

@media (min-width: 1280px) {
  .midashi{
    width: auto;
    padding: 0% 3%;
    margin: 10px 8px 10px 0;
  }
}


html[lang="en"] .midashi{
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
}

html[lang="ja"] .midashi{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.works_exp{
line-height: 2em;
}

/*スマホの時だけ改行*/
.br-sp {
    display: none;
}

@media (max-width: 1280px) {
    .br-sp {
        display: block;
    }
}

/*--------------------------------------*/
/*キャラ画像とセリフ*/
/*--------------------------------------*/
/*キャラ画像とセリフ表示エリア*/
.muse_area{
width: 100%;
height: auto;
display: block;

align-items:center;
text-align: center;
position:relative;
}


@media (min-width: 1280px) {
  .muse_area{
    display: flex;
    width: 100%;
    height: 600px;
    margin: 16px auto;
  }
}

@media (min-width: 1921px) {
  .muse_area{
    display: flex;
    width: 100%;
    height: 800px;
    margin: 32px auto;
  }
}


/*キャラ画像エリア*/
.muse_image_area{
  width: 100%;
  height: 100%;
  margin: auto;
}

@media (min-width: 1280px) {
  .muse_image_area{
  width: auto;
  height: auto;
  }
}

/*キャラ画像*/
.muse_image_area img{
width: 100%;
height: auto;
margin: auto;
display: block;
object-fit: contain;

}

@media (min-width: 1280px) {
.muse_image_area img{
  width: 100%;
  height: auto;
  max-height: 600px;
  }
}

@media (min-width: 1921px) {
.muse_image_area img{
  max-height: 800px;
  }
}

/*フェードイン*/
.img-muse {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.img-muse.loaded {
  opacity: 1;
}

/*セリフエリア*/
.muse_serif_area{
width: 100%;
margin: 0;
height: auto;
display: flex;
justify-content: center;
align-items: center;
}

@media (min-width: 1280px) {
html[lang="ja"] .muse_serif_area{
  width: auto;
  margin: 0 auto;
  height: 100%;
  position: absolute; /* 親要素を基準に浮く */
  top: 0%;           /* 上から50%の位置 */
  left: 80%;          /* 左から50%の位置 */
}
}

@media (min-width: 1280px) {
html[lang="en"] .muse_serif_area{
  width: 28%;
  margin: 0 auto;
  height: auto;
  position: absolute; /* 親要素を基準に浮く */
  top: auto;           /* 上から50%の位置 */
  left: 72%;          /* 左から50%の位置 */
}
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* セリフ文字 */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

/* 余白 */
.muse_area h5{
  margin: 32px auto 16px;
}

@media (min-width: 1280px){
  .muse_area h5{
    margin: 16px auto;
  }
}


/* 共通 */
h5{
  font-weight: 400;
}


/* 日本語 */
html[lang="ja"] h5{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 2.5em;
}

@media (min-width: 1280px){
  html[lang="ja"] h5{
    font-size: 1.5em;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: left;
  }
}

@media (min-width: 1921px){
  html[lang="ja"] h5{
    font-size: 2.2em;
  }
}

/* 英語 */
html[lang="en"] h5{
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-style: italic;
}

@media (min-width: 1280px){
  html[lang="en"] h5{
    font-size: 2em;
  }
}

@media (min-width: 1921px){
  html[lang="en"] h5{
    font-size: 2.5em;
  }
}

/* その他 */
.center{
  font-family: "MeiryoArial";
}

em{
  font-style: normal;
  text-combine-upright: all;
}

/*--------------------------------------*/
/*キャラ紹介*/
/*--------------------------------------*/
/*キャラ紹介エリア*/
.muse_text_area{
width: 100%;
height: 100%;
display: flex;

text-align: center;
flex-direction: column;
align-items: center;
justify-content: space-around;
}

/*様式*/
.style{
  width: auto;
  min-width: 50%;

  padding: 1% 10px;
  margin: 16px auto;

  color: var(--style_font-color);
  text-align: center;
  font-size: 2em;

  background: var(--style_main-color);
  border-radius: 64px;
  border: 8px solid black;
}

@media (min-width: 1280px) {
.style{
  width: auto;
  min-width: 20%;
  max-width: 40%;
  margin: 24px auto;
  padding: 1% 20px;
  font-size: 1.5em;
  border-radius: 48px;
}
}

@media (min-width: 1921px) {
  .style{
  padding: 1% 20px;
  border-radius: 64px;
  }
}


html[lang="ja"] .style{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;
  font-style: normal;
}

html[lang="en"] .style{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}



/*--------------------------------------*/
/*作品紹介*/
/*--------------------------------------*/
/*作品エリア*/
.works_area{
width: 100%;
height: 100%;
display: flex;

text-align: center;
flex-direction: column;
align-items: center;
justify-content: space-around;
}

/*作品イメージ*/
.works_area img{
width: 80%;
height: auto;
margin: 1% auto;
}

@media (min-width: 1280px) {
.works_area img{
width: 600px;
height: auto;
  margin: 1% auto 3% auto;
}
}

/*画像クレジット*/
.credit{
  font-size: 1em;
  margin: 16px auto;
  width: auto;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-wrap: anywhere; /* 収まらない場合に折り返す */
word-break: normal; /* 単語の分割はデフォルトに依存 */
line-break: strict; /* 禁則処理を厳格に適用 */
}

@media (min-width: 1280px) {
  .credit{
    margin: auto;
    margin-top: 16px;
    font-size: 0.8em;
  }
}

@media (min-width: 1921px) {
  .credit{
    margin: auto;
    margin-top: 16px;
    font-size: 0.8em;
  }
}

/*メッセージ表示エリア*/
.muse_message{
  width: 90%;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 16px 32px;
  background: white;
  border-radius: 16px;
  border: 8px solid var(--sub-color);
}

@media (min-width: 1280px) {
  .muse_message{
    width: 80%;
    margin: 16px auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 16px 32px;
    background: white;
    border-radius: 16px;
    border: 8px solid var(--sub-color);
  }
}

/* キャラ画像 */
.muse_message img{
  width: 250px;
  flex-shrink: 0;
  margin: 0 16px 0 0;
  border-radius: 16px;
  border: 8px solid var(--sub-color);
}

@media (min-width: 1280px) {
  .muse_message img{
    width: 150px;
  }
}


/* テキスト */
.muse_message p{
  margin: 0;
  width: 90%;
  padding: 12px 16px;
  text-align: left;
  background: #eeeeee;
  border-radius: 16px;
  flex: 1;
  font-size: 2em;
}

@media (min-width: 1280px) {
  .muse_message p{
   font-size: 1.2em;
  }
}

@media (min-width: 1921px) {
  .muse_message p{
   font-size: 1.5em;
  }
}


html[lang="ja"] .muse_message p{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
}

html[lang="en"] .muse_message p{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}


/*--------------------------------------*/
/*画家紹介*/
/*--------------------------------------*/
/*作家紹介エリア*/
.artist_area{
  width: 100%;
  height: 100%;
  display: flex;

  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*作家画像*/
.artist_area img{
  width: 90%;
}

@media (min-width: 1280px) {
  .artist_area img{
    width: 50%;
  }
}



/*--------------------------------------*/
/*関係のあるミューズ*/
/*--------------------------------------*/
/*関係紹介エリア*/
.relate_area{
  width: 100%;
  height: 100%;
display: block;
text-align: center; /* ←これで中央寄せ */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}



/*表示エリア*/
.relate_group{
  display: flex;              /* ← 横並びにする */
  justify-content: center;    /* ← 全体を中央に */
  gap: 10px;                  /* ← ボタン同士の間隔 */
  width: 100%;                 /* ← 左右余白を均等に */
  margin: 0 auto;             /* ← 中央配置 */
  flex-wrap: wrap;            /* ← はみ出たら折り返し（重要） */
}

.relate_group .button{
  width: 200px;
  height: 332px;
  margin: 0; /* ←これ重要 */
}

/*フォントサイズ*/
html[lang="ja"] .relate_group .button_name,
html[lang="en"] .relate_group .button_name{
  font-size: 1.3em;
}

html[lang="ja"] .relate_group .button_name{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;
  font-style: normal;
}

html[lang="en"] .relate_group .button_name{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*メッセージ表示エリア*/
.relate_message{
  width: auto;
  margin: 16px auto;
  display: flex;
  align-items: center;

  padding: 8px;
  background: white;
  border-radius: 16px;
  border: 8px solid var(--sub-color);
}

/* キャラ画像 */
.relate_message img{
  width: 200px;
  flex-shrink: 0;
}

/* テキスト */
.relate_message p{
  margin: 0;
  padding: 12px 16px;
  text-align: left;
  background: #eeeeee;
  border-radius: 12px;
  flex: 1;
}

html[lang="ja"] .relate_message p{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
}

html[lang="en"] .relate_message p{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}


.relate_block{
  display: block;
  width: 100%;
  margin: 24px auto;
}

/* ボタンを中央寄せ */
.relate_block .button{
  display: block;
  text-align: left;
}



/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* return */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

.return{
  width: 90%;
  margin: 0 auto;

  display: flex;

  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.return a{
  width: auto;
  height: auto;
  margin: 5% auto 10%;
  padding: 20px 48px;

  display: inline-block;

  font-size: 2.5em;

  background: var(--sub-color);
  border: 8px solid white;
  border-radius: 32px;
  color: var(--font-sub_color);
  text-decoration: none;
}

html[lang="ja"] .return a{

  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;
  font-style: normal;
}

html[lang="en"] .return a{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@media (min-width: 1280px) {
.return a{
  font-size: 2em;
}
}

@media (min-width: 1921px) {
.return a{
  font-size: 2.5em;
}
}


.return a:hover{
transform: scale(1.1);
transition:0.1s all;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* pagetop */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

.pagetop{
  width: 128px;
  height: 128px;

  display: flex;

  align-items: center;
  justify-content: center;

  background: #222;
  border: 4px solid white;
  border-radius: 50%;
  bottom: 20px;
  color: #fff;
  font-size: 64px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  z-index: 9999;
}

.pagetop:hover{
  font-size: 48px;
  transform: scale(1.2);
  transition:0.1s all;
}

@media (min-width: 1280px) {
  .pagetop {
    position: fixed;      /* 画面に追従 */
    right: 20px;          /* 右からの位置 */
    bottom: 20px;         /* 下からの位置 */
    z-index: 9999;        /* 最前面 */

    width: 64px;
    height: 64px;
    font-size: 32px;
  }
  .pagetop:hover{
    transform: scale(1.5);
  }
}

html {
  scroll-behavior: smooth;
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* 参考文献 */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.references_area{
width: 100%;
height: 100%;
display: flex;

text-align: center;
flex-direction: column;
align-items: center;
justify-content: space-around;
}


.references {
  width: 90%;
  margin: 5% auto;
  font-size: 0.9em;
  line-height: 1.6;
}


.references ul {
  padding-left: 1.2em;
}

.references li {
  margin-bottom: 0.5em;
}
