
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/*言語*/
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* 日本語用 */
html[lang="ja"] {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

/* 英語用 */
html[lang="en"] {
  font-family: "Poppins", sans-serif;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

body.style_page{
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-height: 100dvh;

  background:
    linear-gradient(
      -190deg,
      var(--style-main-color) 0%,
      var(--style-main-color) 33%,
      var(--style-sub-color) 33%,
      var(--style-sub-color) 66%,
      var(--style-main-color) 66%,
      var(--style-main-color) 100%
    );
  background-attachment: fixed;
  background-color: var(--style-main-color);

}


@media (min-width: 1280px) {
body.style_page{
background:
linear-gradient(
  -10deg,
  var(--style-main-color) 0%,
  var(--style-main-color) 55%,
  var(--style-sub-color) 55%,
  var(--style-sub-color) 100%
  );
  background-attachment: fixed;
  background-color: var(--style-main-color);
}
}

/*共通の白枠*/
body.style_page.window{
width: 80%;
height: auto;
margin: 5% auto;
padding: 32px;

background-color:white;
border-radius: 16px;
}

@media (min-width: 1280px) {
body.style_page.window{
  width: 60%;
}
}

/*横線*/
body.style_page .line{
width: 90%;
height: 4px; /* 線幅 */
margin: 3% 10%;
display: block;

background-color: var(--style-sub-color); /* 線色 */
border-radius: 1.5px; /* 線幅の半分 */
}

@media (min-width: 1280px) {
body.style_page .line{
  width: 70%;
  height: 6px; /* 線幅 */
  border-radius: 8px; /* 線幅の半分 */
}
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* h1 */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

body.style_page h1{
  margin: 3% auto;
  padding: 5px 64px;

  display: inline-block;

  font-size: var(--font-hero);

  background: var(--style-main-color);
  color: var(--font-color);
}

/* レスポンシブ */

@media (min-width: 1280px){
  body.style_page h1{
      font-size: var(--font-hero);
  }
}

@media (min-width: 1921px){
  body.style_page h1{
      font-size: var(--font-hero);
  }
}

/* 言語別フォント */

html[lang="ja"] body.style_page h1{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;
  font-style: normal;
}

html[lang="en"] body.style_page h1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* h2 共通 */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

body.style_page h2{
  color: var(--font-color);
  background: var(--style-main-color);
}

/* 言語別フォント */
html[lang="ja"] body.style_page h2{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;
}

html[lang="en"] body.style_page h2{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

/* 代表作名 */
.style_works_area h2{
  display: inline-block;
  padding: 0 5%;
  font-size: var(--font-title);
}

@media (min-width: 1280px) {
  .style_works_area h2{
      font-size: var(--font-title);
  }
}

@media (min-width: 1921px) {
  .style_works_area h2{
      font-size: var(--font-title);
  }
}


/* 関係あるミューズ名 */
.style_relate_area h2{
  display: inline-block;
  padding: 0 5%;
  font-size: var(--font-title);
}

@media (min-width: 1280px) {
  .style_relate_area h2{
      font-size: var(--font-title);
  }
}

@media (min-width: 1921px) {
  .style_relate_area h2{
      font-size: var(--font-title);
  }
}



/* 参考文献 */
.references_area h2{
  display: inline-block;
  padding: 0 5%;
    font-size: var(--font-title);
}

@media (min-width: 1280px) {
.references_area h2{
      font-size: var(--font-title);
  }
}

@media (min-width: 1921px) {
.references_area h2{
      font-size: var(--font-title);
  }
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* h3 */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

/* 日本語 */
html[lang="ja"] body.style_page h3{
  margin: auto;
  display: inline-block;

  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: var(--font-sub-title);
  font-style: normal;
  font-weight: 700;

  text-align: center;
}

/* 英語 */
html[lang="en"] body.style_page h3{
  margin: auto;
  display: inline-block;

  font-family: "Poppins", sans-serif;
  font-size: var(--font-sub-title);
  font-style: normal;
  font-weight: 600;

  text-align: center;
}

/* レスポンシブ */
@media (min-width: 1280px){
  html[lang="ja"] body.style_page h3,
  html[lang="en"] body.style_page h3{
    font-size: var(--font-sub-title);
  }
}

@media (min-width: 1921px){
  html[lang="ja"] body.style_page h3,
  html[lang="en"] body.style_page h3{
  font-size: var(--font-sub-title);
  }
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* h4 */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

body.style_page h4{
  width: 30%;
  display: inline-block;
  margin: 3% auto;
  padding: 8px 24px;

  color: var(--font-color);
  font-size: var(--font-section);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;

  background: var(--style-main-color);
}

/* 日本語だけ上書き */
html[lang="ja"] body.style_page h4{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
}

@media (min-width: 1280px) {
  body.style_page h4{
width: 20%;
    margin: 1% auto;
    padding: 6px 20px;
  font-size: var(--font-section);
  }
}

@media (min-width: 1921px) {
  body.style_page h4{
  font-size: var(--font-section);
  }
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* p */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

/* 日本語 */
html[lang="ja"] body.style_page main p{
  width: 90%;
  margin: 16px auto;

  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: var(--font-body);
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
}

/* 英語 */
html[lang="en"] body.style_page main p{
  width: 90%;
  margin: 16px auto;

  font-family: "Poppins", sans-serif;
  font-size: var(--font-body);
  font-style: normal;
  font-weight: 400;
}

/* レスポンシブ */

@media (min-width: 1280px){
  html[lang="ja"] body.style_page main p,
  html[lang="en"] body.style_page main p{
    width: 70%;
    font-size: var(--font-body);
  }

  html[lang="ja"] body.style_page main p{
    line-height: 2;
  }
}

@media (min-width: 1921px){
  html[lang="ja"] body.style_page main p,
  html[lang="en"] body.style_page main p{
    width: 70%;
    font-size: var(--font-body);
  }

  html[lang="ja"] body.style_page main p{
    line-height: 2;
  }
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/*その他*/
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/*左寄せ*/
.left{
text-align: left;
text-align: justify;
overflow-wrap: break-word;
word-break: normal;
hyphens: auto;
}

/*作品データ見だし*/
body.style_page .midashi{
  width: 40%;
  padding: 0% 5%;
  margin: 20px auto;
  color: var(--font-color);
  background: var(--style-main-color);
  display: inline-block;
}

@media (min-width: 1280px) {
  body.style_page .midashi{
    width: auto;
    padding: 0% 3%;
    margin: 10px 8px 10px 0;
  }
}

html[lang="en"] body.style_page .midashi{
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
}

html[lang="ja"] body.style_page .midashi{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body.style_page .works_exp{
line-height: 2em;
}

/*スマホの時だけ改行*/
.br-sp {
    display: none;
}

@media (max-width: 1280px) {
    .br-sp {
        display: block;
    }
}

/*--------------------------------------*/
/*様式概要*/
/*--------------------------------------*/
.style_name_area{
  width: 100%;
  height: 100%;
  display: flex;

  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 1280px) {
  .style_name_area{
    display: flex;
    width: 100%;
  height: 100%;
    margin: 16px auto;
  }
}

@media (min-width: 1921px) {
  .style_name_area{
    display: flex;
    width: 100%;
  height: 100%;
    margin: 32px auto;
  }
}

.style_name_area img{
  width: 90%;
  margin: 32px;
}


/*--------------------------------------*/
/*ミューズによる説明*/
/*--------------------------------------*/
/*ミューズによる説明*/
.style_muse_exp_area{
width: 100%;
height: 100%;
display: flex;

text-align: center;
flex-direction: column;
align-items: center;
justify-content: space-around;
}

/* 作家名 */
.style_muse_exp_area h2{
  display: inline-block;
  padding: 0 5%;
  font-size: var(--font-title);
}

@media (min-width: 1280px) {
  .style_muse_exp_area h2{
      font-size: var(--font-title);
  }
}

@media (min-width: 1921px) {
  .style_muse_exp_area h2{
      font-size: var(--font-title);
  }
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* ミューズによる説明 */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

.style_muse_message{
  width: 90%;
  margin: 16px auto;
  padding: 16px 32px;

  display: flex;

  align-items: center;
  background: white;
  border-radius: 16px;
  flex-direction: column;
}

/* レスポンシブ */

@media (min-width:1280px){
  .style_muse_message{
    width: 80%;

    flex-direction: row;
  }
}


/* キャラ画像 */

.style_muse_message img{
  width: 250px;
  margin: 0 16px 0 0;

  border: 8px solid var(--style-sub-color);
  border-radius: 16px;
  flex-shrink: 0;
}

@media (min-width:1280px){
  .style_muse_message img{
    width: 150px;
  }
}


/* テキスト */

.style_muse_message p{
  width: 90%;
  margin: 0;
  padding: 12px 16px;

  font-size: var(--font-body);

  background: #eeeeee;
  border-radius: 16px;
  flex: 1;
  text-align: left;
}

/* レスポンシブ */

@media (min-width:1280px){
  .style_muse_message p{
    font-size: var(--font-body);
  }
}

@media (min-width:1921px){
  .style_muse_message p{
    font-size: var(--font-body);
  }
}

/* 言語別フォント */

html[lang="ja"] .style_muse_message p{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
}

html[lang="en"] .style_muse_message p{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}



/*--------------------------------------*/
/*代表作説明*/
/*--------------------------------------*/
/*作品エリア*/
.style_works_area{
width: 100%;
height: 100%;
display: flex;

text-align: center;
flex-direction: column;
align-items: center;
justify-content: space-around;
}

/*作品イメージ*/
.style_works_area img{
width: 80%;
height: auto;
margin: 1% auto;
}

@media (min-width: 1280px) {
.style_works_area img{
width: 600px;
height: auto;
  margin: 1% auto 3% auto;
}
}

/*画像クレジット*/
.credit{
  font-size: var(--font-small);
  margin: 16px auto;
  width: auto;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-wrap: anywhere; /* 収まらない場合に折り返す */
word-break: normal; /* 単語の分割はデフォルトに依存 */
line-break: strict; /* 禁則処理を厳格に適用 */
}

@media (min-width: 1280px) {
  .credit{
    margin: auto;
    margin-top: 16px;
    font-size: var(--font-small);
  }
}

@media (min-width: 1921px) {
  .credit{
    margin: auto;
    margin-top: 16px;
    font-size: var(--font-small);
  }
}


/*--------------------------------------*/
/*この様式のミューズ*/
/*--------------------------------------*/
/*この様式のミューズエリア*/
.style_relate_area{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  text-align: center;
}

/*表示エリア*/
.style_relate_group{
  display: flex;              /* ← 横並びにする */
  justify-content: center;    /* ← 全体を中央に */
  gap: 10px;                  /* ← ボタン同士の間隔 */
  width: 100%;                 /* ← 左右余白を均等に */
  margin: 0 auto;             /* ← 中央配置 */
  flex-wrap: wrap;            /* ← はみ出たら折り返し（重要） */
}

.style_relate_group .button{
  width: 200px;
  height: 332px;
  margin: 0; /* ←これ重要 */
}

/*フォントサイズ*/
html[lang="ja"] .style_relate_group .button_name,
html[lang="en"] .style_relate_group .button_name{
  font-size: 1.3em;
}

html[lang="ja"] .style_relate_group .button_name{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;
  font-style: normal;
}

html[lang="en"] .style_relate_group .button_name{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.relate_block{
  display: block;
  width: 100%;
  margin: 24px auto;
}

/* ボタンを中央寄せ */
.relate_block .button{
  display: block;
  text-align: left;
}



/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* return */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

body.style_page .return{
  width: 90%;
  margin: 0 auto;

  display: flex;

  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

body.style_page .return a{
  width: auto;
  height: auto;
  margin: 5% auto 10%;
  padding: 20px 48px;

  display: inline-block;

  font-size: var(--font-return);

  background: var(--style-sub-color);
  border: 8px solid white;
  border-radius: 32px;
  color: var(--style-font-color);
  text-decoration: none;
}

html[lang="ja"] body.style_page .return a{

  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 900;
  font-style: normal;
}

html[lang="en"] body.style_page .return a{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@media (min-width: 1280px) {
body.style_page .return a{
font-size: var(--font-return);
}
}

@media (min-width: 1921px) {
body.style_page .return a{
font-size: var(--font-return);
}
}


body.style_page .return a:hover{
transform: scale(1.1);
transition:0.1s all;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* pagetop */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

.pagetop{
  width: 128px;
  height: 128px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #222;
  border: 4px solid white;
  border-radius: 50%;

  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;

  text-decoration: none;

  transition: transform 0.1s;
}

/* 三角形 */
.pagetop::before{
  content: "";

  width: 0;
  height: 0;

  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  border-bottom: 48px solid white;

  transform: translate(8px, -2px);
}

.pagetop:hover{
  transform: scale(1.2);
}

@media (min-width: 1280px) {

  .pagetop{
    width: 64px;
    height: 64px;
  }

  .pagetop::before{
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 24px solid white;

    transform: translate(8px, -2px);
  }

  .pagetop:hover{
    transform: scale(1.5);
  }
}

html{
  scroll-behavior: smooth;
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* 参考文献 */
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.references_area{
width: 100%;
height: 100%;
display: flex;

text-align: center;
flex-direction: column;
align-items: center;
justify-content: space-around;
}


.references {
  width: 90%;
  margin: 5% auto;
  font-size: var(--font-body:);
  line-height: 1.6;
}


.references ul {
  padding-left: 1.2em;
}

.references li {
  margin-bottom: 0.5em;
}
