.msc{--style-main-color: #FFFFFF;--style-sub-color: #c9caca;--style-font-color: black;--style-font-sub-color: black;}
.aac{--style-main-color: #8DA0B6;--style-sub-color: #c0c5c2;--style-font-color: white;--style-font-sub-color: white;}
.app{--style-main-color: #AA6666;--style-sub-color: #594e52;--style-font-color: white;--style-font-sub-color: white;}
.anv{--style-main-color: #FFFF57;--style-sub-color: #f2f2b0;--style-font-color: black;--style-font-sub-color: black;}
.edp{--style-main-color: #FF9A22;--style-sub-color: #ffdb4f;--style-font-color: black;--style-font-sub-color: black;}
.dga{--style-main-color: #D7C447;--style-sub-color: #c5c56a;--style-font-color: black;--style-font-sub-color: black;}
.cbs{--style-main-color: #787878;--style-sub-color: #d4d9dc;--style-font-color: white;--style-font-sub-color: white;}
.gth{--style-main-color: #FF662B;--style-sub-color: #f7b977;--style-font-color: white;--style-font-sub-color: white;}
.srl{--style-main-color: #F00088;--style-sub-color: #941f57;--style-font-color: white;--style-font-sub-color: white;}
.ddi{--style-main-color: #2F2F2F;--style-sub-color: #b0b0b0;--style-font-color: white;--style-font-sub-color: black;}
.dst{--style-main-color: #ffdc00;--style-sub-color: #e4d2d8;--style-font-color: black;--style-font-sub-color: black;}
.nbs{--style-main-color: #6666FF;--style-sub-color: #bcbace;--style-font-color: white;--style-font-sub-color: white;}
.brz{--style-main-color: #8A6122;--style-sub-color: #fbd8b5;--style-font-color: white;--style-font-sub-color: white;}
.brq{--style-main-color: #742F00;--style-sub-color: #c49a6a;--style-font-color: white;--style-font-sub-color: white;}
.fvs{--style-main-color: #B40031;--style-sub-color: #e29399;--style-font-color: white;--style-font-sub-color: white;}
.fon{--style-main-color: #FFC1FF;--style-sub-color: #e95388;--style-font-color: black;--style-font-sub-color: black;}
.pim{--style-main-color: #00BFD3;--style-sub-color: #88bfbf;--style-font-color: white;--style-font-sub-color: black;}
.ppa{--style-main-color: #FFCD00;--style-sub-color: #ece093;--style-font-color: black;--style-font-sub-color: black;}
.mnr{--style-main-color: #B400FF;--style-sub-color: #d1bada;--style-font-color: white;--style-font-sub-color: white;}
.prb{--style-main-color: #004500;--style-sub-color: #288c66;--style-font-color: white;--style-font-sub-color: white;}
.rls{--style-main-color: #00DE4C;--style-sub-color: #005c42;--style-font-color: black;--style-font-sub-color: black;}
.rns{--style-main-color: #EE0000;--style-sub-color: #6c272d;--style-font-color: white;--style-font-sub-color: white;}
.rcc{--style-main-color: #FFAFAF;--style-sub-color: #ea618e;--style-font-color: black;--style-font-sub-color: black;}
.rmt{--style-main-color: #FF66D0;--style-sub-color: #f19ca7;--style-font-color: black;--style-font-sub-color: black;}
.pvn{--style-main-color: #7FCDFF;--style-sub-color: #008db7;--style-font-color: black;--style-font-sub-color: black;}
.imp{--style-main-color: #00FFD9;--style-sub-color: #66cdaa;--style-font-color: black;--style-font-sub-color: black;}
.sym{--style-main-color: #A27399;--style-sub-color: #9b72b0;--style-font-color: white;--style-font-sub-color: white;}
.nim{--style-main-color: #008357;--style-sub-color: #2f4f4f;--style-font-color: white;--style-font-sub-color: white;}
.ncl{--style-main-color: #0066FF;--style-sub-color: #a0d8ef;--style-font-color: white;--style-font-sub-color: black;}
.blr{--style-main-color: #0000B2;--style-sub-color: #1e90ff;--style-font-color: white;--style-font-sub-color: white;}
.spr{--style-main-color: #000000;--style-sub-color: #6f6f6f;--style-font-color: white;--style-font-sub-color: white;}
.nva{--style-main-color: #CDCDCD;--style-sub-color: #4e4e4e;--style-font-color: black;--style-font-sub-color: black;}
.exp{--style-main-color: #2E1743;--style-sub-color: #9b72b0;--style-font-color: white;--style-font-sub-color: white;}
.szs{--style-main-color: #5E0083;--style-sub-color: #915da3;--style-font-color: white;--style-font-sub-color: white;}
.nrn{--style-main-color: #FC6464;--style-sub-color: #cd5c5c;--style-font-color: white;--style-font-sub-color: white;}
.fut{--style-main-color: #8B8851;--style-sub-color: #808000;--style-font-color: white;--style-font-sub-color: white;}
.are{--style-main-color: #336699;--style-sub-color: #003f8e;--style-font-color: white;--style-font-sub-color: white;}
